# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
pocenv/
backend/uploads/
faster-whisper/
models/
mistral/
all-mini-lm-v6/
tacotron2-DDC/
vits/
backend/data/vector_store/
# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/

# OS / IDE
.idea/
.vscode/
.DS_Store
Thumbs.db